body{ 
	margin:0;
}

.wrapper{
    max-width:1127px;
    width:100%;
    margin:0 auto;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.w-1 {
    width: 100%;
    float:left;

}

.w-2 {
    width: 50%;
    float:left;
}

.w-3 {
    width: 33.33%;
    float:left;
}

.w-4 {
    width: 25%;
    float:left;
}

.w-5 {
    width: 20%;
    float:left;
}

.w-7 {
    width: 14.28%;
    float:left;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: flex-end;
}

#logo {
    margin: 10px 0 0 0;
}

#search {
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
}

    #search input {
        font-size: 16px;
        color: #324950;
        background-color: transparent;
        border: none;
        max-width: 327px;
        height: 29px;
        width: 100%;
    }

        #search input::placeholder {
            color: #324950
        }

    #search button {
        background: url(../images/search.png) no-repeat center;
        font-size: 0;
        height: 18px;
        width: 18px;
        border: none;
        cursor: pointer;
        margin-bottom: 8px;
    }

    #menu{

    }

    #menu ul{
		padding: 0;
		margin: 0;
		list-style:none;
    }

    #menu ul li{
	display: inline;
	margin-left: 15px;
    }

        #menu ul li a {
            color: #324950;
            font-size: 18px;
            font-weight: bold;
			text-decoration:0;
			transition: color .3s
        }

    #menu ul li a:hover{
		color: #57984C;
    }
	
	#slider{
    text-align: center;
    background: url(../images/slider.jpg) no-repeat center;
    padding: 338px 0;
    margin-top: -135px;
	}
	#slider h1{
    color: #735440;
    font-size: 48px;
    font-weight: bold;
	}
	#slider a{
    display: block;
    background-color: #57984C;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    text-decoration: none;
	}
	
	#categories{
    max-width: 1600px;
    width:100%;
    margin:25px auto;
    text-align: center;
	}

	#categories .row{
    display: flex;
    justify-content: center;
    align-items: baseline;
	}
	